* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:#444;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#333;
}

h1 {
    font-weight: 100;
    line-height: 1.3;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Nav Bar Settings */
.navbar {
    background-color: #66acf3;
    color: white;
    height: 75px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    font-size: 1.2em;
    padding: 15px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
    border-top: 2px #fff solid;
    font-size: 1.5em;

}

.navbar .flex {
    justify-content: space-between;
}

/* Home section settings */
.home {
    display: flex;
    background-color: #333;
    height: 600px;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}

.home img {
    max-width: 200px;
    border-radius: 50%;
}

.home .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home h1 {
    color: #bcfafc;
    border-bottom: 3px #fff solid;
    padding: 10px;
    font-size: 80px;
}

.home h2 {
    color: white;
}

/* About section */
.about {
    display: flex;
    background-color: violet;
    height: 600px;
    
}

.about .container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

.about .container .card {
    margin: 20px 40px; 
    padding: 20px 40px; 
    width: 500px;
    height: 300px;
    border: 3px #444 solid;
    border-radius: 20%;
}