* {
    margin: 4px;
    padding: 4px;
    background-color: #111A20;
}

body{
    max-width: 1200px;
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    background-color: #27394A;
    /* height: 1px; */
    width: auto;
    height: 1px;
    border:none;
    
}

.navbar .container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 0px;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Nav Bar Settings */
.navbar {
    color: white;
    height: 75px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin: 0 25px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
    border-top: 2px #fff solid;
    font-size: 1.5em;

}

br {
    border:oldlace;
    size: 10px;
}

.navbar h1 {
    /* position: absolute; */
   width: 200px;
   height: 21px;
   top: 64px;
   left: 10;

   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 4px;
   color: #C4CDD2; 
   border-right: 1px solid #3d96e9;
}

/* Home section settings */
 
.home {
    display: flex;
    height: 200px; 
    /* width: 50%;  */
}

.home img {
    left: 220px;
    width: 120px;
    height: 120px;
    padding-right: 65px;
}

.home .container {
    display: flex; 
    flex-direction: row; 
    flex-direction: row; 

    /* justify-content:space-evenly;  */
}

.home h2 {
    color: #fff;
    padding: 40; 
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    line-height: 46px;
    align: left;

}

#name {
    background-color: #A9DAF6;
    color:#111A20;
}
/* About section  */

.container h2 {
    color:#83D2FF;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 18px;
    margin: 0 185px;
    padding-left: 15px;
    padding-bottom: 15px;
}

h3 {
    color:#83D2FF;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}
.about .card h3 {

    margin: 0 185px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.about p {
    color: #D9DCDE;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    font-style: normal;
    margin: 0 185px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.projects h2 {
    color:#83FFE9;
    margin: 0 185px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.projects .container {
    padding-top: 00px;
}
.projects .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 700px;
    background-color: #1C2C35;
    margin: 0 215px;
}

.projects .card p {
    background-color: #1C2C35;
    color: #D9DCDE;
    
    
}

.projects .card h3 {
    background-color: #1C2C35;
    font-family: 'Roboto', sans-serif;

}
.projects .card h4 {
    background-color: #1C2C35;
    font-family: 'Roboto', sans-serif;
    color: #006eb8;

}


/*.about {
    display: flex;
    height: 600px;
    
}

.about .container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

.about .container .card {
    margin: 20px 40px; 
    padding: 20px 40px; 
    width: 500px;
    height: 300px;
    border: 3px #444 solid;
    border-radius: 20%;
}
*/
